@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.s_header{
	margin:auto;
	width:1024px;
	height:110px;
}
.s_headleft{
	float:left;
	width:300px;
	height:inherit;
}
.s_headleft img{
	margin-left:20px;
	margin-top:10px;
	width:320px;
	height:80px;
}
.s_headright{
	float:right;
	width:700px;
	height:100px;
}
.s_headright .kaifang{
	width:568px;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:40px;
	color:#467996;
	height:70px;
	text-align:center;
	line-height:70px;
}
.s_headright .kaifangtime{
	width:510px;
	margin-left:85px;
	margin-top:-5px;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:20px;
	color:#467996;
	height:30px;
	text-align:center;
	line-height:30px;
}
.s_headimg{
	margin:auto;
	width:1024px;
	height:250px;

}
.s_headimg #picBox{
	overflow: hidden;
	width:1024px;
	height:250px;
}
.s_headimg img{
	width:1024px;
	height:250px;
}
.left{
	float:left;
	width:545px;
	height:auto;
	margin-left:10px;
}
.s_right{
	float:right;
	margin-right:0px;
	width:445px;
	height:auto;
}
.s_xiaoxun{
	position:absolute;
	right:20px;
	top:17px;
	width:146px;
	height:66px;

}
/* careerintro.jsp 专业介绍-样式 树形图*/
ul#treeDemo{
	width: 200px;
	margin: 0 auto;
}
ul#treeDemo li{
	padding-top:7px;
}
ul#treeDemo span{
	font-size:16px;
}

.majorDetails{
	width:740px;
	margin:15px auto;
}
.majorDetails p{
	font-size:14px;
	line-height:24px;
	text-indent:4em;
	margin-bottom:8px;
}
.majorDetails h3{
           font-size:16px;
           margin-bottom:15px;
           margin-top:15px;
}
.majorDetails h3 a{
	color:#000;
}
.majorDetails h3 a:hover{
	color:#000;
	text-decoration:none;
}
.majorDetails strong{
	font-size:14px;
}
/* gradeasec.jsp历年分数线 */
ul.gradesec{
	margin-left:50px;
	padding:10px;
}
ul.gradesec li{
	width:500px;
	height:25px;
	padding:5px 5px;
	padding-left:30px;
	line-height:25px;
	background:url('../images/icon.png') no-repeat left center;
}
ul.gradesec li a{
	font-size:16px;
	color:#000;
}
ul.gradesec li:hover{
	box-shadow:0px 2px 2px #999;
}
ul.gradesec li a:hover{
	text-decoration:none;
	color:#29A7D8;
}
.table_solid{
	width:740px;
}
