@charset "utf-8";
/* CSS Document */
.w_container {
    width: 555px;
    /* 	position:relative; */
    height: auto;
    margin-top: 30px;
}
.w_container .w_con_top {
    font-size: 22px;

    width: 555px;
    height: 40px;
}
.w_top_left {
    font-weight: normal;
    line-height: 36px;

    float: left;

    width: 90px;
    height: 36px;

    color: #031375;
    border-bottom: solid 4px #031375;
}
.w_top_right {
    float: left;

    width: 440px;
    height: 98px;
    margin-left: 5px;

    border-bottom: solid 3px #00a0e9;
}
.w_container .w_culture {
    width: 555px;
    height: 300px;
}
.w_content {
    width: 555px;
    height: 210px;
    margin-top: 24px;
}

.w_left {
    position: relative;

    float: left;

    width: 228px;
    height: 202px;
}

.w_introdsy {
    position: absolute;
    bottom: -5px;

    width: 228px;
    height: 25px;

    opacity: .2;
    background: #fff;
}
.w_introdh {
    font-size: 16px;
    line-height: 25px;

    position: absolute;
    bottom: -5px;

    width: inherit;
    height: 25px;

    text-align: center;

    color: #fff;
}
.w_left .w_qhimg {
    width: 228px;
    height: 205px;
}
.w_left .w_qhimg img {
    width: 228px;
    height: 206px;
}

.w_right {
    position: relative;

    float: left;

    width: 148px;
    height: 99px;
    margin-left: 8px;
}
.w_right a {
    width: 148px;
    margin: auto;
}
.w_right a：hover {
    color: #fff;
}
.w_right img {
    display: block;

    width: 148px;
    height: 99px;
}
.w_introds {
    position: absolute;
    bottom: 0;

    width: 148px;
    height: 25px;

    opacity: .2;
    background: #000;
}
.w_intro {
    font-size: 16px;
    line-height: 25px;

    position: absolute;
    bottom: 0;

    width: inherit;
    height: 25px;
    margin: auto;

    text-align: center;

    color: #fff;
}
.w_container .w_scenery {
    width: 545px;
    height: 390px;
}
.w_campus {
    position: relative;

    overflow: hidden;

    width: 545px;
    height: 126px;
    margin: 20px auto 0 auto;
}

.w_slidder {
    position: absolute;
    top: 0;
    left: 0;

    width: 5580px;
    height: 126px;
}
.w_campus img {
    display: block;
    float: left;

    width: 545px;
    height: 126px;

    border: none;
}
.w_campus_bt {
    width: 545px;
    height: 145px;
    margin: 10px auto 0 auto;
}

.w_beattyschool {
    float: left;

    width: 270px;
}
.w_beattyschool:hover {
    text-decoration: none;
}

.w_beattyschool p {
    font-size: 16px;
    line-height: 30px;

    width: 270px;
    height: 30px;

    text-align: center;

    color: #467996;
}
.w_campus_bt img {
    display: block;
    display: inline;

    width: 270px;
    height: 145px;
    margin-right: 50px;
}
.w_schoolfellow {
    width: 545px;
    height: 420px;
}
.w_schcon {
    position: relative;

    overflow: hidden;

    width: 545px;
    height: 320px;
    margin-top: 30px;
}
.s_jiechu {
    display: block;

    width: 545px;
    height: 150px;
    margin: 10px auto 10px auto;

    border-bottom: solid 1px #abb8ca;
}

.w_lilt {
    float: left;

    width: 140px;
    height: 140px;
}
.w_lilt img {
    width: 140px;
    height: 140px;
}
.w_lirt {
    float: left;

    width: 370px;
    height: 140px;
    margin-left: 35px;
}
.w_lirt h1 {
    font-size: 22px;
    font-weight: normal;
    line-height: 36px;

    text-align: left;

    color: #004080;;
}
.w_lirt span {
    font-size: 14px;
    line-height: 36px;

    text-align: left;

    color: #666;
}
.w_qhimgxs {
    position: absolute;
    z-index: 5;

    display: none;

    width: 228px;
    height: 207px;

    /* background: #467996; */
    background: rgba(70, 121, 150,0.6);
}
.w_qhimgxs p {
    font-size: 24px;
    font-weight: bold;
    line-height: 207px;

    text-align: center;

    color: #fff;
}
.w_qhimgxs1 {
    position: absolute;
    z-index: 6;

    display: none;

    width: 148px;
    height: 99px;
    /* background:#467996; */

    background: rgba(70, 121, 150,0.6);
}
.w_qhimgxs1 p {
    font-size: 18px;
    font-weight: bold;
    line-height: 99px;

    height: 99px;

    text-align: center;

    color: #fff;
}
.w_qhimgxs1 span {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;

    display: block;

    height: 99px;
    margin-top: 10px;

    text-align: center;

    color: #fff;
}
